html {
  margin: 0.7em;
  font-family: 'Overpass', sans-serif;
  font-size: 18px;
  background-color: #255fb6;
  color: #f5f7f7;
}
h1 {
  font-size: 1.7rem;
  font-weight: 800;
  margin-bottom: .1em;
}
h2 {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 600;
  margin-bottom: .2em;
}
h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-bottom: .2em;
}
h4 {
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: .3em;
}
p {
  padding-block-end: .2em;
}
.appBorder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.container {
  display: grid;
  grid-template-areas:
    "answer answer answer   answer"
    "blank  divide multiply subtract"
    "seven  eight  nine     add"
    "four   five   six      add"
    "one    two    three    equals"
    "zero   zero   period   equals";
  grid-template-columns: repeat(4, 3.75rem);
  grid-template-rows: 4.375rem repeat(5, 3.75rem);
  column-gap: 0.2em;
  row-gap: 0.2em;
  padding: .5rem 0;
}
.zero {
  grid-area: zero;
}
.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.four {
  grid-area: four;
}
.five {
  grid-area: five;
}
.six {
  grid-area: six;
}
.seven {
  grid-area: seven;
}
.eight {
  grid-area: eight;
}
.nine {
  grid-area: nine;
}
.add {
  grid-area: add;
}
.subtract {
  grid-area: subtract;
}
.multiply {
  grid-area: multiply;
}
.divide {
  grid-area: divide;
}
.divide .center {
  padding-top: .7em;
}
.period {
  grid-area: period;
}
.equals {
  grid-area: equals;
}
.blank {
  grid-area: blank;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Baloo', 'Overpass', sans-serif;
  font-weight: 600;
  font-size: 1.1em;
  /* background-color: rgba(52, 112, 202,0); */
  background: linear-gradient(305deg, rgb(28, 69, 131), rgb(28, 69, 131) 30%, rgb(34, 91, 177) 70%, rgb(34, 91, 177));
  /* text-shadow: .1em .1em .2em rgba(0,0,0,0.3); */
  border-radius: 0.4em;
  padding: 0.4em 0.3em;
  box-shadow: 0 0.2em 3em rgba(0,0,0,0.08),
              0 0.1em 0.4em rgba(0,0,0,0.08);
}
.center {
  /* padding: -0.1em .2em 1em .2em; */
  width: 90%;
  min-height: 100%;
  border-radius: 0.4em;
  padding-top: .85em;
  margin: .7em 0;
  position: relative;
  bottom: .3em;
  /* left: .2em; */
  /* background-color: rgba(255,255,255,0.1); */
  background: linear-gradient(90deg, rgb(45, 107, 199), rgb(33, 95, 189));
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  box-shadow: 0.4em 0.4em 0.8em rgba(0,0,0,0.08) inset, 
  -0.2em -0.2em 1em rgba(255,255,255,0.04) inset;
}
.zero .center {
  width: 96%;
}
.equals, .add {
  background: linear-gradient(290deg, rgb(28, 69, 131), rgb(28, 69, 131) 30%, rgb(34, 91, 177) 70%, rgb(34, 91, 177));
}
.equals .center, .add .center {
  padding-top: 2.7em;
}
.clear {
  font-family: 'Baloo', 'Overpass', sans-serif;
  font-weight: 600;
  font-size: 1.1em;
  text-align: center;
  position: relative;
  top: 9.3em;
  left: 1.6em;
  padding-top: 1.2em;
  width: 3.2em;
  height: 3.2em;
  border-radius: 6em;
  margin: 1.5em;
  background: linear-gradient(90deg, rgb(45, 107, 199), rgb(33, 95, 189));
  box-shadow: 0em .1em 1.5em rgba(0,0,0, 0.1);
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  box-shadow: 0.4em 0.4em 0.6em rgba(0,0,0,0.05) inset, 
              -0.2em -0.2em 0.8em rgba(255,255,255,0.03) inset,
              0.4em 0.4em 1.2em rgba(0,0,0,0.11), 
              -0.5em -0.5em 1.6em rgba(255,255,255,0.06);

}
.pushing {
  background: linear-gradient(305deg, rgb(26 64 123), rgb(28 70 132) 30%, rgb(40 90 165) 70%, rgb(36 93 179));
  box-shadow: 0 0.2em 3em rgba(0,0,0,0.03),
  0 0.1em 0.4em rgba(0,0,0,0.03);
}
.pushing .center {
  color: #CCC;
  background: linear-gradient(90deg, rgb(45 105 193), rgb(26 88 181));
}
.clear.pushing {
  background: linear-gradient(90deg, rgb(26 88 181), rgb(26 88 181));
}
.answer {
  text-align: right;
  font-family: 'Overpass Mono', monospace;
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 0.04em;
  text-shadow: none;
  background-color: rgb(28, 59, 107);
  grid-area: answer;
  margin-bottom: 0.5em;
  border-radius: 0.2em;
  padding: 1.25rem 0.9rem 0 0.9rem;
  box-shadow: 0.4em 0.4em 0.7em rgba(0,0,0,0.12) inset, 
  -0.2em -0.2em 1.5em rgba(255,255,255,0.06) inset;
}
.calc-border {
  position: relative;
  left: 2em;
  padding: 0.5em;
  border-radius: 0.4em;
  background-color: #255fb6;
  /* box-shadow: 0em .4em 3em rgba(151, 151, 151, 0.1);
  box-shadow: 0em .3em 3em rgba(0,0,0,0.04); */
  box-shadow: 0.6em 0.6em 1.5em rgba(0,0,0,0.11), 
              -0.9em -0.9em 2.7em rgba(255,255,255,0.06);
}
.key {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 21px;
  }
}
@media screen and (max-width: 1000px) {
  html {
    font-size: 26px;
  }
}